<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
    <div class="toppart">
    <% if user_signed_in? %>
     <div class="toptable"> <TABLE><TR><TD ALIGN="LEFT"><a class="navbar-brand p-3 key" href="/">Bookers</a><TD>

      <li ><TD ALIGN="RIGHT">
      <a href='<%= "/users/#{current_user.id}" %>' class='test3 topbotton'><i class="fas fa-home"></i>Home</a>
      </li><br>

      <li ><TD ALIGN="RIGHT">
      <a href='<%= "/users" %>' class='test3 topbotton'><i class="fas fa-users"></i>Users</a>
      </li><br>

      <li ><TD ALIGN="RIGHT">
      <a href='<%= "/books" %>' class='test3 topbotton'><i class="fas fa-book-open"></i>Books</a>
      </li><br>


      <li class="nav-item key"><TD ALIGN="RIGHT"><a class="test3 topbotton"><%= link_to destroy_user_session_path, method: :delete do  %><i class="fas fa-sign-out-alt topbotton"></i><i class="topbotton">Log out</i
        </a><% end %>
      </li><br>



    <% else %>
      <div class="toptable"><TABLE><TR><a class="navbar-brand p-3 key" href="/">Bookers</a>

      <li ><TD ALIGN="RIGHT">
      <a href="/"  class='test3 topbotton'><i class="fas fa-home"></i>Home</a>
      </li><br>

       <li ><TD ALIGN="RIGHT">
      <a href='/home/about' class='test3 topbotton'><i class="fas fa-link"></i>About</a>
      </li><br>

      <li><TD ALIGN="RIGHT">
      <a href='/users/sign_up' class='test3 topbotton'><i class="fas fa-user-plus"></i>Sign up</a></li><br>

      <li><TD ALIGN="RIGHT">
      <a href='/users/sign_in' class="test3 topbotton"><i class="fas fa-sign-in-alt"></i>Log in</a></li><br>

    <% end %>
   </TR>
        </TABLE>
        </div>
    </div>
  <header>
    <div class="row"></div>
    <div class="container col-md-3 "></div>
  <%= yield %>
</body>
<p class="copyright">CopyRight Infratop.inc</p>
</html>
